<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1> Car Rental List </h1>
    <h3> Please choose the class that interests you: </h3>
    
    <ul>
    
        <li><a href="/carrental/detail.html">class A</a></li>
            
        <li><a href="/carrental/detail.html">class B</a></li>
            
        <li><a href="/carrental/detail.html">class C</a></li>
            
        <li><a href="/carrental/detail.html">class D</a></li>
            
        <li><a href="/carrental/detail.html">class E</a></li>
            
        <li><a href="/carrental/detail.html">class F</a></li>
            
        <li><a href="/carrental/detail.html">class S</a></li>
            
        <li><a href="/carrental/detail.html">class H</a></li>
            
        <li><a href="/carrental/detail.html">class J</a></li>
            
        <li><a href="/carrental/detail.html">class M</a></li>
    
    </ul>
    
</body>
</html>